.contact_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10%;
    padding-top: 100px;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    margin-bottom: 100px;

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        min-height: calc(100vh - 239px);
        font-size: 1.1rem;

        h1 {
            font-weight: 600;
            font-size: 5rem;
            margin-bottom: 40px;
        }
        span{
            margin-bottom: -15px;
            font-size: 2rem;
            font-weight: 300;
        }

        .status_message {
            font-size: 1rem;
            color: var(--text-primary);
            margin: 10px 0;
            padding: 10px;
            border-radius: 4px;
            background-color: rgba(0, 255, 0, 0.1);
        }

        section{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            transition: opacity 0.3s ease;
            
            &:hover {
                opacity: 0.6;
            }
            
            p,
            img{
                cursor: pointer;
            }

            p{
                font-size: 1.5rem;
            }

            img{
                width: 30px;
                padding-left: 10px;
            }
        }
    }
}