@import "../index.css";

.mainbox{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-primary);
    color: var(--text-primary);

    .section{
        width: 100vw;
        display: flex;
    }
    .dashboard{
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        padding: 0% 20%;
        box-sizing: border-box;

        span{
            font-weight: 400;
        }

        section{
            display: inherit;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;


            p{
                width: 480px;
                height: 2px;
                background-color: var(--text-primary);
            }

            span{
                font-size: 1rem;
            }
        }
    }

    .projects{
        flex-direction: column;
        box-sizing: border-box;
        
        .header{
            font-size: 2.5rem;
            font-weight: 500;
            padding: 0px 10%;
            margin: 5% 0px;
        }
    }
}