.globalfooter{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 100px;
    padding-bottom: 10px;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10%;
    padding-top: 100px;
    font-size: 1.4rem;

    section{
        width: 50%;
        p{  
            opacity: 50%;
        }
        h2{
            font-size: 3rem;
            font-weight: 500;
        }
        span{
            margin-top: 30px;
        }
    }

}